<h1 class="centered">Add a New Location</h1>

<%= render "form", location: @location %>

<br>

<button class="btn btn-primary">Back to Locations<% link_to "Back to locations", locations_path %></button>
